*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}

::-webkit-scrollbar-thumb{
    background-color: darkorange;
    border-radius: 10px;
    width: 5px;
    cursor: pointer;

}

::-webkit-scrollbar{
    background-color: black;
    width: 5px;
}



:root {
    --font: 'poppins', sans-serif;
    --font1: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.preloader{
    display: block;
    background: url('./images/287.gif');
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-size: 10% !important;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 9999999999999;
    background-color: black;

}


body {
    background-color: black;
}

.mobile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    font-family: var(--font);
    padding: 20px;

    /* min-width: 100vh; */
    position: sticky;
    top: 0;
    z-index: 99;
}

.burger span {
    display: block;
    background-color: white !important;
    height: 3px;
    width: 33px;
    border-bottom: 2px solid white;
    background-color: white;
    margin-bottom: 4px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    
}

.burger.active span:nth-child(1) {
    transform: rotate(45deg) translateY(7px) translateX(1px);
    /* width: 1em; */
}

.burger.active span:nth-child(2) {
    width: 0;
    /* width: 0.8em; */
    opacity: 0;
}

.burger.active span:nth-child(3) {
    transform: rotate(135deg) translateY(9px) translateX(-3px);
    /* width: 0.7em; */
}

.mobile-nav {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 0px;
    background-color: black;
    color: white;
    font-family: var(--font);
    overflow: hidden;
    transition: 0.6s ease-in-out;
    position: fixed;
    z-index: 99;
    width: 100vw;
    opacity: 0.8;
   

}



.mobile-nav li {
    padding: 20px 0px;
    list-style: none;
    text-align: justify;
    font-size: 19px;
    font-weight: 600;
    transition: 0.4s ease-in-out;
    font-family: 'poppins', sans-serif;
    opacity: 1;
    margin-left: 15px;

}

.mobile-nav li a:hover,  .web-nav li a:hover{
    color: darkorange;
    /* border-bottom: 2px solid darkorange; */
    transition: 0.2s ease;
}

.mobile-nav li a, .web-nav li a{
    text-decoration: none;
    color: white;
}



.mobileHeight {
    overflow: hidden;
    transition: 0.6s ease-in-out;
    height: 430px;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: var(--font1);
    position: relative;
    padding-bottom: 20px;


}


main p {
    margin-top: 15px;
    font-size: 25px;
    color: darkorange;
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.6s;
    opacity: 0.9;
    height: 40px;

}



main h2 {
    font-size: 35px;
    font-family: 'poppins', sans-serif;
    text-align: center;
    font-weight: 900;
    margin: auto 10px;

}

main .main-text {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .arrow-down {
    background-color: darkorange;
    color: black;
    padding: 15px;
    border-radius: 50%;
    font-size: 30px;
    position: absolute;
    top: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700 ;

}

main .arrow-down a{

    text-decoration: none;
    color: black;
    padding: 0
    
}

main img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -50px;
    left: 0;
    z-index: 0;
}

main .main-buttons {
    display: flex;
    margin-top: 20px;
}

.main-buttons button, .show {
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 15px 25px;
    border-radius: 30px;
    margin: 7px;
    font-weight: 700;
    cursor: pointer;

}

.main-buttons a{
    text-decoration: none;
    color: black;
    background-color: transparent;
}

.main-buttons button:nth-child(2) a{
    color: white;
}



.main-buttons button:nth-child(1) {
    background-color: darkorange;
    color: black;
    border: none;
}

.main-buttons :nth-child(2) {
    background: transparent;
    color: white;
    border: 2px solid grey;
}

.about-me-page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-left: 0px;
    font-family: var(--font);
    color: white;
    padding-bottom: 30px;
}

/* All h2 for sections */

.about-me-page h2, .skills h2, .projects-page h2, .contact-page h2{
    font-size: 50px;
    font-weight: 900;
}

.details{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    margin-top: 40px;
}

.col-1, .col-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    
}

.col-1 span, .col-2 span{
    margin-bottom: 20px;
    font-family: var(--font);
}

.col-1 span{
    font-weight: 900;
    font-size: 14px;
}

.col-2 span{
    font-size: 14px;
    color: grey;
    font-weight: 900;
    margin-right: 10px;
}

.download-cv button{
    padding: 20px 30px;
    border-radius: 40px;
    background-color: darkorange;
    color: white;
    border: none;
    font-size: 20px;
    margin-top: 10px;
    text-align: left;
    font-weight: 600;
}


.resume{
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font);
    color: white;
    flex-direction: column;
    padding-bottom: 30px;

    
}

.resume .title h2{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 20px;

}

.job-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 40px 25px;
    background-color: rgba(36, 31, 31, 0.781);
    border-radius: 5px;
    margin: 30px;
    margin-bottom: 30px;


}



.job-container .date{
    font-size: 25px;
    font-weight: 900;
    color: darkorange;
    margin-bottom: 15px;
}

.job-container .company-name{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.job-container .role{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    color: grey;
}




.reveal-on-scroll {
    transform: translateY(10%);
    transition: 0s ease-in;
    -ms-overflow-style: hidden !important;
    opacity: 1;
    
}

.translate-class {
    transform: translateX(0px);
    transition: 0.7s ease-in-out;
    opacity: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    width: auto;
}



.web-nav {
    display: none;
}


/* Beginning of media query for 768px */

@media (min-width: 768px) {
    .section1 {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .col-1 span, .col-2 span{
        font-size: 20px;
    }

    .section2 {
        flex-direction: row;
    }

    .mobile-nav,
    .burger {
        display: none;
    }


    .web-nav {
        display: flex;
        flex-direction: row;
        list-style: none;
        font-family: var(--font);


    }

    .web-nav li {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 20px;
        font-weight: 600;
    }

    main p {
        font-size: 20;
    }

    main h2{
        font-size: 30px;
    }

    .resume-contents{
        display: grid;
        grid-template-columns: auto auto;
    }

    .skills-grid{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 20px;
    }

    .skill-progress{
        display: flex;
        width: 30vw !important;
    }

    .preloader{
        background-size: 2% !important;
    }

    .sub{
        grid-template-columns: auto auto !important;
    }

    .contact-page .subcontainer{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 50px;

    }

    .about-me-page{
        align-items: flex-start;
        margin-left: 70px;
    }

    
    
    

}

/* End of Media query for 768px */

.skills{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
    color: white;
    font-family: var(--font);
    align-items: center;
}

.skill-progress{
    display: flex;
    width: 60vw;
}

.skill-progress span{
    display: inline-block;
    background-color:  grey;
    width: 10%;
    /* border-bottom: 2px solid orangered; */
    height: 5px;
    border-radius: 5px;
}

.skill-progress span:nth-child(1){

    background-color: orange;
    width: 90%;

}

.skill-title span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}

.each-skill{
    margin-bottom: 50px;
}


.projects-page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    color: white;
    font-family: var(--font);
}

.project-image{

    position: relative;
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: none;
    
}

.project-image img{
    display: block;
    width: 100%;
    height: 100%;
    
}

.sub a{
    text-decoration: none;
    color: white;
}



.project-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-overlay > *{
    margin-bottom: 10px;
    transform: translateY(40px);
    transition: 0.6s ease;
    opacity: 0;
}

.project-image:hover img{

    opacity: 0.5;
    transition: 0.6s ease;

}

.project-image:hover .project-overlay > *{

    transform: translateY(0px);
    opacity: 1;
}



.projects-page .project-subcontainer{
    display: flex !important;
    flex-direction: row ;
} 

.projects-page p{
    font-size: 20px;
    text-align: center;
}
.sub{
    display: grid;
    grid-template-columns: auto;
    column-gap: 20px;
    row-gap: 20px;
}

.contact-page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font);
    text-align: center;
    padding: 60px 0px;

}

.contact-page i{
    padding: 20px;
    border-radius: 50%;
    background-color: darkorange;
    color: black;
    font-size: 40px;
    
}

.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    position: relative;
    bottom: 10px;
    margin-bottom: 70px;
}

.contact-info span{
    font-weight: 600;
}

.contact-info a{
    text-decoration: none;
    color: white;
}
.contact-page .protocol{
    margin-top: 30px;
    font-size: 25px;
}

.contact-page .header{
    margin-top: 60px;
}

.form{
    color: orange;
    font-family: var(--font);
    min-height: 60vh;
    display: grid;
    grid-template-columns: auto auto;
}

.form form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 10px;
    background-color: burlywood;
    font-size: 20px;
    border-radius: 4px;
}

.form .image{
    width: 300px;
    position: relative;
    display: none;
}

.form .image img{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}


form input{
    width: 100%;
    height: 35px;
    border: 4px solid white;
    font-size: 17px;
    background-color: transparent;
    font-weight: 600;
    margin: 10px auto;
}

form button{
    width: 100%;
    border: none;
    text-align:center ;
    padding: 20px;
    background-color: brown;
    border: none;
    color: white;
    border-radius: 6px;
    margin: 20px auto;
    cursor: pointer;
}

form textarea{
    font-weight: 600;
}
form h3{
    color: black;
    font-weight: 700;
}

.extras{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content:center;
    align-items: center;
    font-family: var(--font);
    text-align: center;
    
}

.extras span{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.extras p{
    font-size: 25px;
    margin: 20px 10px;
}

.extras .socials a{
    text-decoration: none;
    color: white;
}

.extras a{
    color: darkorange;
    text-decoration: none;
}

.extras h2{
    font-weight: 900;
    font-size: 30px;
}

.extras i{
    font-size: 30px;
    margin: 20px;
}

.extras .socials{
    margin-top: 40px;
}

footer{
    font-family: var(--font);
    display: block;
    color: white;
    text-align: center;
    min-height: 15vh;
    font-size: medium;
}

footer h6{
    font-size: 9px;
    margin-top: 40px;
    
}

.showLess{
   display: none;
    transition: all  0.6s ease;
}

button.show{
    margin-top: 20px;
}

.typed-cursor{
    display: none;
}





